<div class="container-fluid">
  <app-species-gene-selector (selectionChange)="ascChange($event)" ></app-species-gene-selector>
  <mat-tab-group animationDuration="0ms"  mat-stretch-tabs>
    <mat-tab label="Overview">
      <app-dash-refbook-overview [selection]="selection"></app-dash-refbook-overview>
    </mat-tab>
    <mat-tab label="Alignment">
      <app-dash-refbook-alignment [selection]="selection"></app-dash-refbook-alignment>
    </mat-tab>
    <mat-tab label="Allele Usage">
      <app-dash-refbook-usage [selection]="selection"></app-dash-refbook-usage>
    </mat-tab>
    <mat-tab label="Zygosity">
      <app-dash-refbook-zygosity [selection]="selection"></app-dash-refbook-zygosity>
    </mat-tab>
  </mat-tab-group>

</div>
