.btn-sm {
  padding: 0.1rem .3rem !important;
  line-height: 1 !important;
}

.i {
  line-height: inherit;
}

.primary-icon {
  color: #007bff;
  align-items: center;
  vertical-align: bottom;
  line-height: 20px;
}

.header-text {
  color: rgba(0,0,0,0.54);
  font-size: 12px;
}

.btn-solid-icon {
  background-color: white;
  color: #6c757d;
  border: none;
}
