<div class="form-row align-items-center">
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Species</label>
      </div>
      <select class="custom-select" id="selectSpecies" [(ngModel)]="selectedSpecies" (ngModelChange)="speciesChange()">
        <option *ngFor="let s of species" [ngValue]="s">{{s.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Reference Sequence</label>
      </div>
      <select class="custom-select" [(ngModel)]="selectedRef">
        <option *ngFor="let r of refSeqs" [ngValue]="r">{{r.displayName}}</option>
      </select>
    </div>
  </div>
  <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary" [disabled]="!(selectedSpecies && selectedRef)" (click)="onSubmit()">Submit</button>
  </div>
</div>
