
<div class="container-fluid">
  <div  class="spinner-border" role="status" *ngIf="dataSource.loading$ | async">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="alert alert-danger" *ngIf="dataSource.error$ | async">
    <div class="row">
      <h4>Error loading table</h4>
      <p>{{dataSource.error$ | async}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" style="align-items: center; justify-content: flex-start; display: flex;">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="chk-selected-items" style="margin-top: .1rem;"
          [disabled]="!selectedSampleIds.length"
          [(ngModel)]="isSelectedGenesChecked"
          (change)="(onSelectedIdsChange(isSelectedGenesChecked))"
        >
        <label class="form-check-label" for="chk-selected-items">
          Only alleles present in selected samples
        </label>
      </div>
    </div>

    <div class="col-md-2" style="align-items: center; justify-content: flex-start; display: flex; padding-left: 0px !important;">
      <button digby-table-column-sorter
         [(columns)]="displayedColumns"
         [columnInfo]="allColumns"
         [saveName]="'rep-gene-table'"
         (columnsChange)="updateColumnData($event)" >
         <mat-icon class="primary-icon"  style="">view_column</mat-icon>
        <span class="header-text">Arrange Columns</span>
      </button>
    </div>

    <div class="col-md-7">
      <mat-paginator [length]="dataSource?.totalItems" [pageSize]="15" [pageSizeOptions]="[15, 50, 100, 250]"></mat-paginator>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-table [dataSource]="dataSource">

         <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
              Name
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'name'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" >{{seq.name}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="seq">
            <mat-header-cell *matHeaderCellDef>
              Sequence
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'seq'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" (click)="onCellClick(seq, 'seq')">{{seq.seq  | geneTrunc}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="seq_len">
            <mat-header-cell *matHeaderCellDef>
              Seq Length
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'seq_len'" [filterMode]="filterModeEnum.NUMBER_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" >{{seq.seq_len}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="similar">
            <mat-header-cell *matHeaderCellDef>
              Similar
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'similar'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" >{{seq.similar}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="appears" >
            <mat-header-cell *matHeaderCellDef>
              Appearances
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'appears'" [filterMode]="filterModeEnum.NUMBER_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" >{{seq.appears}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="is_single_allele">
            <mat-header-cell *matHeaderCellDef>
              Single Allele
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'is_single_allele'" [filterMode]="filterModeEnum.BOOL_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq">
              <i *ngIf="seq.is_single_allele" class="fa fa-check" style="line-height: inherit;"></i>
              <i *ngIf="!seq.is_single_allele" class="fa fa-times" style="line-height: inherit;"></i>
            </mat-cell>
        </ng-container>

         <ng-container matColumnDef="low_confidence">
            <mat-header-cell *matHeaderCellDef>
              Low Confidence
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'low_confidence'" [filterMode]="filterModeEnum.BOOL_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq">
              <i *ngIf="seq.low_confidence" class="fa fa-check" style="line-height: inherit;"></i>
              <i *ngIf="!seq.low_confidence" class="fa fa-times" style="line-height: inherit;"></i>
            </mat-cell>
        </ng-container>

         <ng-container matColumnDef="novel">
            <mat-header-cell *matHeaderCellDef>
              Novel
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'novel'" [filterMode]="filterModeEnum.BOOL_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq">
              <i *ngIf="seq.novel" class="fa fa-check" style="line-height: inherit;"></i>
              <i *ngIf="!seq.novel" class="fa fa-times" style="line-height: inherit;"></i>
            </mat-cell>
        </ng-container>

         <ng-container matColumnDef="max_kdiff">
            <mat-header-cell *matHeaderCellDef>
              Max kDiff
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'max_kdiff'" [filterMode]="filterModeEnum.NUMBER_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" >{{seq.max_kdiff}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true "></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>

      </mat-table>
      </div>
  </div>
</div>

