
<div class="container-fluid">
  <div  class="spinner-border" role="status" *ngIf="dataSource.loading$ | async">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="alert alert-danger" *ngIf="dataSource.error$ | async">
    <div class="row">
      <h4>Error loading table</h4>
      <p>{{dataSource.error$ | async}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" style="align-items: center; justify-content: flex-start; display: flex;">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="chk-selected-items" style="margin-top: .1rem;"
          [disabled]="!samplesSelected"
          [(ngModel)]="isSelectedGenesChecked"
          (change)="(onSelectedIdsChange())"
        >
        <label class="form-check-label" for="chk-selected-items">
          Only alleles present in selected samples
        </label>
      </div>
    </div>

    <div class="col-md-2" style="align-items: center; justify-content: flex-start; display: flex; padding-left: 0px !important;">
      <button digby-table-column-sorter
         [(columns)]="displayedColumns"
         [columnInfo]="allColumns"
         [saveName]="'rep-gene-table'"
         (columnsChange)="updateColumnData($event)" >
         <mat-icon class="primary-icon"  style="">view_column</mat-icon>
        <span class="header-text">Arrange Columns</span>
      </button>
    </div>

    <div class="col-md-7">
      <mat-paginator [length]="dataSource?.totalItems" [pageSize]="25" [pageSizeOptions]="[25, 50, 100, 250]"></mat-paginator>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-table [dataSource]="dataSource">
         <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef  class="large-col" mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'name')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
              Name
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'name'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" (click)="onCellClick(seq, 'seq')" class="large-col">{{seq.name}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="gene_name">
            <mat-header-cell *matHeaderCellDef  mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'gene_name')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
              Gene Name
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'gene_name'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq"  class="small-col">
              {{seq.gene_name}}
              <button class="btn btn-sm btn-solid-icon" style="" [matMenuTriggerFor]="geneMenu" [matMenuTriggerData]="{seq: seq}">
                <i class="fa fa-folder fa-5" style="line-height: inherit;"></i>
              </button>
            </mat-cell>
        </ng-container>

         <ng-container matColumnDef="pipeline_name">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'pipeline_name')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
              Primer Name
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'pipeline_name'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" class="small-col">{{seq.pipeline_name}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="seq">
            <mat-header-cell *matHeaderCellDef class="small-col" mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'seq')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
              Sequence
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'seq'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" (click)="onCellClick(seq, 'seq')" class="small-col mat-ellipsis">{{seq.seq}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="seq_len">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'seq_len')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}" class="small-col">
              Seq Length
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'seq_len'" [filterMode]="filterModeEnum.NUMBER_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq"  class="small-col">{{seq.seq_len}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="similar">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'similar')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
              Similar
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'similar'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" >{{seq.similar}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="appears">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'appears')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}" class="small-col">
              Appearances
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'appears'" [filterMode]="filterModeEnum.NUMBER_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq"  class="small-col">{{seq.appears}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="is_single_allele">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'is_single_allele')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}" class="small-col">
              Single Allele
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'is_single_allele'" [filterMode]="filterModeEnum.BOOL_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell  class="small-col" *matCellDef="let seq">
              <i *ngIf="seq.is_single_allele" class="fa fa-check" style="line-height: inherit;"></i>
              <i *ngIf="!seq.is_single_allele" class="fa fa-times" style="line-height: inherit;"></i>
            </mat-cell>
        </ng-container>

         <ng-container matColumnDef="low_confidence">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'low_confidence')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}" class="small-col">
              Low Confidence
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'low_confidence'" [filterMode]="filterModeEnum.BOOL_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" class="small-col">
              <i *ngIf="seq.low_confidence" class="fa fa-check" style="line-height: inherit;"></i>
              <i *ngIf="!seq.low_confidence" class="fa fa-times" style="line-height: inherit;"></i>
            </mat-cell>
        </ng-container>

         <ng-container matColumnDef="novel">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'novel')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}" class="small-col">
              Novel
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'novel'" [filterMode]="filterModeEnum.BOOL_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" class="small-col">
              <i *ngIf="seq.novel" class="fa fa-check" style="line-height: inherit;"></i>
              <i *ngIf="!seq.novel" class="fa fa-times" style="line-height: inherit;"></i>
            </mat-cell>
        </ng-container>

         <ng-container matColumnDef="max_kdiff">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'max_kdiff')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}" class="small-col">
              Max kDiff
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'max_kdiff'" [filterMode]="filterModeEnum.NUMBER_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq"  class="small-col">{{seq.max_kdiff}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="dataset">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'dataset')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}">
              Dataset
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'dataset'" [filterMode]="filterModeEnum.TEXT_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" >{{seq.dataset}}</mat-cell>
        </ng-container>

         <ng-container matColumnDef="notes_count">
            <mat-header-cell *matHeaderCellDef mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, 'notes_count')"
			 [resizeEdges]="{bottom: false, right: true, top: false, left: true}" class="small-col">
              Notes
             <app-filter #filterComponent="menuInOtherComponent" [columnName]="'notes_count'" [filterMode]="filterModeEnum.NUMBER_MODE" [choices$]="dataSource.choices$" (predicateEmitter)="applyFilter($event)"></app-filter>
            </mat-header-cell>
            <mat-cell *matCellDef="let seq" (click)="showNotes(seq)" class="small-col">
              <button class="btn btn-sm btn-solid-icon" >
                {{seq.notes_count}}
              </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="mat-elevation-z1"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>

      </mat-table>
      </div>
  </div>
</div>

<mat-menu #geneMenu="matMenu" xPosition="before" class="menu-overflow-hidden">
  <ng-template matMenuContent let-seq="seq">
    <div class="container">
      <div class="row ml-1 mr-2">
        <b>{{seq.gene_name}} allelic variation</b>
      </div>
      <div class="row ml-1 mr-2 mb-1">
        IgSNPer Analysis
        <ng-container *ngIf="seq['igsnper_plot_path'].length > 0">
          <span>&nbsp;&nbsp;</span>
          <a href="{{ seq['igsnper_plot_path'] }}" target="_blank"><i class="fa fa-desktop" style="line-height: inherit;"></i></a>
        </ng-container>
        <ng-container *ngIf="seq['igsnper_plot_path'].length === 0">
          <span>&nbsp;&nbsp;</span>Not available
        </ng-container>
      </div>
      <div class="row ml-1 mr-2 mb-1">
        IgSNPer documentation
        <span>&nbsp;&nbsp;</span>
        <a href="https://github.com/Immunotools/IgSNPer" target="_blank">
          <i class="fa fa-desktop" style="line-height: inherit;"></i>
        </a>
      </div>
    </div>
  </ng-template>
</mat-menu>
