
button:focus, button:active:focus, button.active:focus {
outline: none !important;
outline-style: none !important;
}


p,li {
  font-size: 0.9rem !important;
}

.selected-item-container {
  padding: 0px 0px 0px 0px !important;
}

.dropdown-multiselect--active, .multiselect-dropdown {
  padding: 0px 8px 0px 8px !important;
}
