<div class="form-row align-items-center">
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Species</label>
      </div>
      <select class="custom-select" id="selectSpecies" [(ngModel)]="selection.species" (ngModelChange)="speciesChange()">
        @for (s of availableSpeciesAndData.species; track s) {
          <option [ngValue]="s">{{s}}</option>
        }
      </select>
    </div>
  </div>
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectChain" style="height: 38px">Chain</label>
      </div>
      <select class="custom-select" id="selectChain" [(ngModel)]="selection.chain" (ngModelChange)="chainChange()">
        @for (s of availableSpeciesAndData.chains[selection.species]; track s) {
          <option [ngValue]="s">{{s}}</option>
        }
      </select>
    </div>
  </div>
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectAsc" style="height: 38px">ASC</label>
      </div>
      <select class="custom-select" id="selectAsc" [(ngModel)]="selection.asc" (ngModelChange)="ascChange()">
        @for (s of availableAsc; track s) {
          <option [ngValue]="s">{{s}}</option>
        }
      </select>
    </div>
  </div>
</div>

@if (isFetching) {
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
}

@if (error) {
  <div class="alert alert-danger">
    <div class="row">
      <h4>Error loading data: {{error}}</h4>
    </div>
  </div>
}
