<div class="form-row align-items-center">
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Species</label>
      </div>
      <select class="custom-select" id="selectSpecies" [(ngModel)]="selection.species" (ngModelChange)="speciesChange()">
        <option *ngFor="let s of availableSpeciesAndData.species" [ngValue]="s">{{s}}</option>
      </select>
    </div>
  </div>
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectChain" style="height: 38px">Chain</label>
      </div>
      <select class="custom-select" id="selectChain" [(ngModel)]="selection.chain" (ngModelChange)="chainChange()">
        <option *ngFor="let s of availableSpeciesAndData.chains[selection.species]" [ngValue]="s">{{s}}</option>
      </select>
    </div>
  </div>
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectAsc" style="height: 38px">ASC</label>
      </div>
      <select class="custom-select" id="selectAsc" [(ngModel)]="selection.asc" (ngModelChange)="ascChange()">
        <option *ngFor="let s of availableAsc" [ngValue]="s">{{s}}</option>
      </select>
    </div>
  </div>

</div>

<div  class="spinner-border" role="status" *ngIf="isFetching">
  <span class="sr-only">Loading...</span>
</div>


<div class="alert alert-danger" *ngIf="error">
  <div class="row">
    <h4>Error loading data: {{error}}</h4>
  </div>
</div>
