<p *ngIf="rows.length < 1 && !isFetching">{{emptyMessage}}</p>

<p *ngIf="refName">
  <a class="nav-link" [routerLink]="['/genebrowser', speciesName.replace(' ', '_'), refName ]">View in Gene Browser</a>
</p>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width:100%">
<thead>
  <tr>
    <th *ngFor="let col of cols">{{ col }}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let row of rows">
    <td *ngFor="let col of cols">{{ row[col] }}</td>
  </tr>
</tbody>
</table>

<p *ngIf="isFetching">Loading...</p>
<div class="alert alert-danger" *ngIf="error">
  <h4>Error loading data</h4>
  <p>{{ error }}</p>
</div>
