.content-centered {
  text-align: center;
}

button:focus, button:active:focus, button.active:focus {
outline: none !important;
outline-style: none !important;
}

button {
  flex-shrink: 0 !important;
}

.tf-mat-menu {
  overflow: visible !important;
  max-width: none !important;
}


.filter-dropdown .dropdown-btn {
  border: none !important;
  padding: 0px 0px !important;
}

.multiselect-item-checkbox {
  padding: 0px 10px !important;
}


p,li {
  font-size: 0.9rem !important;
}

.selected-item-container {
  padding: 0px 0px 0px 0px !important;
}

.dropdown-multiselect--active, .multiselect-dropdown {
  padding: 0px 8px 0px 8px !important;
}
