  <div  class="spinner-border" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="alert alert-danger" *ngIf="error">
    <div class="row">
      <h4>Error loading table</h4>
      <p>{{error}}</p>
    </div>
  </div>



<ng-container *ngIf="!loading && !error">
  <div class="modal-header">
    <h3 class="modal-title">Sample Details - {{sampleInfo.identifier}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h4>Study</h4>
          <ul>Institute: {{sampleInfo.institute}}</ul>
          <ul>Researcher: {{sampleInfo.researcher}}</ul>
          <ul>Study Description: {{sampleInfo.study_description}}</ul>
          <ul>Publication: <a href={{sampleInfo.reference}}><i class="fa fa-external-link" style="line-height: inherit;"></i></a></ul>
          <ul>Contact Info: {{sampleInfo.contact}}</ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h4>Subject</h4>
          <ul>Name in Study: {{sampleInfo.name_in_study}}</ul>
          <ul>Age: {{sampleInfo.sample_age}}</ul>
          <ul>Sex: {{sampleInfo.sex}}</ul>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</ng-container>
