<div class="form-row align-items-center">
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Species</label>
      </div>
      <select class="custom-select" id="selectSpecies" [(ngModel)]="selectedSpecies" (ngModelChange)="speciesChange()">
        <option *ngFor="let s of species" [ngValue]="s">{{s.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showGenomic">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Genomic Sets</label>
      </div>
      <ng-multiselect-dropdown
        [settings] = dropdownSettings
        [data] = refSeqs
        [(ngModel)] = selectedGen
        [placeholder] = "'Select Datasets'"
        (ngModelChange)="genomicChange()"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showRepseq">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">RepSeq Sets</label>
      </div>
      <ng-multiselect-dropdown
        [settings] = dropdownSettings
        [data] = repSeqs
        [(ngModel)] = selectedRep
        [placeholder] = "'Select Datasets'"
        (ngModelChange)="repSeqChange()"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
</div>

<div  class="spinner-border" role="status" *ngIf="isFetching">
  <span class="sr-only">Loading...</span>
</div>


<div class="alert alert-danger" *ngIf="error">
  <div class="row">
    <h4>Error loading data</h4>
    <p>{{error}}</p>
  </div>
</div>
