<div class="form-row align-items-center">
  <div class="col-auto my-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Species</label>
      </div>
      <select class="custom-select" id="selectSpecies" [(ngModel)]="selectedSpecies" (ngModelChange)="speciesChange()">
        <option *ngFor="let s of species" [ngValue]="s">{{s.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showGenomic">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">Genomic Sets</label>
      </div>
      <ng-multiselect-dropdown
        [settings] = dropdownSettings
        [data] = refSeqs
        [(ngModel)] = selectedGen
        [placeholder] = "'Select Datasets'"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showRepseq">
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectSpecies">RepSeq Sets</label>
      </div>
      <ng-multiselect-dropdown
        [settings] = dropdownSettings
        [data] = repSeqs
        [(ngModel)] = selectedRep
        [placeholder] = "'Select Datasets'"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showFilter">
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="show-imgt" [(ngModel)]="showImgt">
      <label class="custom-control-label" for="show-imgt">IMGT</label>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showFilter">
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="show-novel" [(ngModel)]="showNovel">
      <label class="custom-control-label" for="show-novel">Novel</label>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showFilter">
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="show-full-gene" [(ngModel)]="showFull">
      <label class="custom-control-label" for="show-full-gene">Full Gene</label>
    </div>
  </div>
  <div class="col-auto my-1" *ngIf="showFilter">
      <input type="text" id="filter" placeholder="Filter"  [(ngModel)]="filter">
  </div>
  <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary" [disabled]="!(selectedSpecies && selectedGen)" (click)="onSubmit()">Submit</button>
  </div>
</div>
<div class="row">
  <p *ngIf="isFetching">Loading...</p>
  <div class="alert alert-danger" *ngIf="error">
    <h4>Error loading selector data</h4>
    <p>{{ error }}</p>
  </div>
</div>
