.selector-dropdown .dropdown-btn {
  line-height: 24px !important;
  height: 38px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-color: rgb(206, 212, 218) !important;
  padding: 6px 24px 6px 12px !important;
}

